# Remember
dist
report

# Node (nodejs.org)
node_modules
npm-debug.log

# Operating system
.DS_Store
Thumbs.db

# Sublime Text (sublimetext.org)
*.sublime*

# Bower (bower.io)
bower_components

# Istanbul (github.com/gotwarlost/istanbul)
coverage
