.button--primary {
  background-color: $button__background-color;
  bottom: $buttons__margin--bottom--snuggle;
  color: $button__color;
  position: fixed;
  right: $buttons__margin--right--snuggle;

  @include breakpoint($breakpoint__compact) {
    bottom: $buttons__margin--bottom--compact;
    right: $buttons__margin--right--compact;
  }
}
