.toolbar--main {
  background-color: $toolbar--main__background-color;
  color: $toolbar--main__color;
}

.toolbar--drawer {
  background-color: $toolbar--drawer__background-color;
  color: $toolbar--drawer__color;
}
